@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #f1f1f1;
	color: rgb(75, 74, 74);
}

header {
	width: 100%;
	margin-bottom: 15px;
}

nav {
	max-width: 1000px;
	margin: auto;
	padding: 25px;
}

#logo {
	display: inline;
	position: relative;
	font: 50px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0, 0, 255, 0.5);
}

#logo::after {
	content: 'JE';
	position: absolute;
	left: 5px;
	top: 3px;
	color: rgba(255, 0, 0, 0.5);
}

.nav-links {
	float: right;
	margin-top: 15px;
}

.nav-link {
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
	font-size: 15px;
	color: rgb(75, 74, 74);
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.nav-link:nth-child(1) {
	margin-right: 10px;
}

#bio {
	width: 100%;
	padding: 15px;
}

.bio-container {
	max-width: 1000px;
	margin: 15px auto;
	padding: 25px;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-gap: 15px;
	border-radius: 3px;
}

.bio-image img {
	display: block;
	width: 100%;
	max-width: 250px;
	height: auto;
	margin: 50px auto 20px;
	border-radius: 50%;
}

.bio-image h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.bio-image h3,
.bio-image p {
	padding: 0 15px;
	margin: 0;
	text-align: center;
}

.bio-text {
	padding: 5px;
}

.bio-title {
	position: relative;
	display: inline-block;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgb(75, 74, 74);
	margin-bottom: 0;
	border-bottom: 4px solid rgba(0, 0, 255, 0.5);
}

.bio-title::after {
	content: '';
	width: 100%;
	position: absolute;
	left: 5px;
	bottom: -6px;
	border-bottom: 4px solid rgba(255, 0, 0, 0.5);
}

.bio-title-2 {
	bottom: 22px;
	left: 50px;
}

.bio-text p {
	font-size: 16px;
	padding: 5px;
	line-height: 30px;
	color: rgb(75, 74, 74);
	margin-top: 0;
}

/* .bio-image,
.bio-text {
    border: 1px solid black;
} */

#projects {
	width: 100%;
	padding: 15px;
}

.projects-container {
	max-width: 1000px;
	background-color: rgba(0, 0, 255, 0.5);
	margin: 15px auto;
	padding: 25px;
	border-radius: 3px;
	box-shadow: 8px 10px rgba(255, 0, 0, 0.5);
}

.projects-title {
	text-transform: uppercase;
	letter-spacing: 2px;
	max-width: 925px;
	padding: 15px;
	margin: auto;
}

.project-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.project {
	justify-self: center;
	position: relative;
}

.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.project:hover img {
	opacity: 0.3;
}

.project:hover .middle {
	opacity: 1;
}

.middle a {
	color: white;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.project img {
	width: 100%;
	max-width: 275px;
	height: auto;
	padding: 10px;
}

.modal-image {
	max-width: 100%;
	margin: auto;
}

.modal-links {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 10px 0 20px;
}

.modal-links a {
	margin: 0 20px;
	padding: 1px 2px;
	text-decoration: none;
	border: 2px solid #7878f8;
	color: #7878f8;
}

.modal-links a:hover {
	color: white;
	background-color: #7878f8;
	/* border: none; */
}

.description-modal p {
	margin: 0;
}

#contact {
	width: 100%;
	padding: 15px;
	text-align: center;
}

.contact-container {
	max-width: 600px;
	margin: auto;
	padding: 20px;
}

.contact-title {
	position: relative;
	width: 50%;
	margin: 0 auto;
	padding: 10px 0 0;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 4px solid rgba(0, 0, 255, 0.5);
}

.contact-title::after {
	position: absolute;
	content: '';
	width: 100%;
	bottom: -6px;
	right: -3px;
	border-bottom: 4px solid rgba(255, 0, 0, 0.5);
}

.contact-links {
	margin: 20px 0;
}

.fab,
.fas {
	font-size: 30px;
	width: 30px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 5px;
	background-color: rgba(0, 0, 255, 0.5);
	color: white;
	box-sizing: content-box;
}

.fab:hover,
.fas:hover {
	background-color: rgba(255, 0, 0, 0.5);
}

footer {
	width: 100%;
	height: 75px;
}

.footer-container {
	max-width: 500px;
	margin: auto;
	text-align: center;
}

.footer-container p {
	padding: 25px;
	font-size: 14px;
}

@media only screen and (max-width: 830px) {
	.project-list {
		max-width: 600px;
		margin: auto;
	}
}

@media only screen and (max-width: 600px) {
	header {
		margin: 0;
	}
	nav {
		padding: 15px;
		text-align: center;
	}
	.nav-links {
		display: block;
	}
	.nav-links {
		float: none;
		padding: 10px 0;
	}
	.bio-image img {
		margin-top: 0;
	}
	.bio-container {
		grid-template-columns: 100%;
	}
	.project-list {
		grid-template-columns: 1fr;
	}
}
