* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: gray;
    margin-bottom: 15px;
}

nav {
    max-width: 1000px;
    margin: auto;
    padding: 25px;
}

#logo {
    margin: 0;
    display: inline-block;
    /* width: 100px; */
}

.nav-links {
    float: right;
}

.nav-link {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    font-size: 19px;
    color: black;
}

.nav-link:nth-child(1) {
    margin-right: 10px;
}

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

#bio {
    width: 100%;
    padding: 15px;
}

.bio-container {
    max-width: 1100px;
    background-color: gray;
    margin: 15px auto;
    padding: 25px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 15px;
}

.bio-image img {
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: auto;
}

.bio-image p {
    padding: 10px;
}

.bio-text {
    padding: 5px;
}

.bio-text h2 {
    font-size: 30px;
}

.bio-text p {
    font-size: 20px;
    padding: 5px;
    line-height: 30px;
}

.bio-image,
.bio-text {
    border: 1px solid black;
}

@media only screen and (max-width: 550px) {
    nav {
        padding: 15px;
        text-align: center;
    }
    #logo,
    .nav-links {
        display: block;
    }
    .nav-links {
        float: none;
    }
}