@import url('https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    color: rgb(75, 74, 74);
}

header {
    width: 100%;
    margin-bottom: 15px;
}

nav {
    max-width: 1000px;
    margin: auto;
    padding: 25px 25px 0px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

#logo {
    display: inline;
    position: relative;
    font-size: 75px;
    font-weight: normal;
    font-family: 'Proza Libre', sans-serif;
    letter-spacing: -3px;
    color: rgba(0, 0, 255, 0.6);
}

#logo::after {
    content: 'je';
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: -1;
    color: rgba(255, 0, 0, 0.6);
}

.nav-links {
    float: right;
}

.nav-link {
    display: inline-block;
    padding: 0.7em calc(0.7em * 1.2);
    text-decoration: none;
    font-size: 17px;
    color: rgb(75, 74, 74);
    letter-spacing: -1px;
    font-weight: bold;
    border: 3px solid transparent;
    position: relative;
}

.nav-link:nth-child(1) {
    margin-right: 10px;
}

.nav-link a {
    text-decoration: none;
    color: rgb(75, 74, 74);
}

#bio {
    width: 100%;
    padding: 10px 15px;
}

.bio-container {
    max-width: 1000px;
    margin: 15px auto;
    padding: 25px 0;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 15px;
    border-radius: 3px;
}

.bio-image img {
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 120px auto 20px;
    border-radius: 50%;
}

.bio-image h3 {
    font-size: 28px;
    letter-spacing: 1px;
}

.bio-image h3 {
    padding: 0 15px;
    margin: 0;
    text-align: center;
}

.bio-text {
    padding: 5px;
}

.bio-title {
    position: relative;
    display: inline-block;
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(75, 74, 74);
    margin-bottom: 0;
    font-family: 'Proza Libre', sans-serif;
}


.bio-title .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.bio-title .line {
    position: absolute;
}

.bio-title .line2 {
    background-color: rgba(255, 0, 0, 0.6);
    bottom: -1px;
    left: 6px;
}

.bio-title-2 {
    bottom: 22px;
    left: 50px;
}

.bio-text p {
    font-size: 16px;
    padding: 5px;
    line-height: 30px;
    color: rgb(75, 74, 74);
    margin-top: 0;
}


.bio p {
    font-size: 18px;
}

#projects {
    width: 100%;
    padding: 15px;
}

.section-title {
    margin-bottom: 150px;
    position: relative;
    margin-left: 15px;
}

.section-title .line {
    height: 4px;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 255, 0.6);
    position: relative;
}

.section-title .line2 {
    background-color: rgba(255, 0, 0, 0.6);
    bottom: 1px;
    left: 5px;
    z-index: -1;
}

.line {
    height: 4px;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 255, 0.6);
    position: relative;
}

.line2 {
    background-color: rgba(255, 0, 0, 0.6);
    bottom: 1px;
    left: 5px;
    z-index: -1;
}


.section-title h3 {
    font-family: 'Proza Libre', sans-serif;
    margin: 0;
    display: inline-block;

}

.section-title .title-2 {
    position: relative;
    margin-top: 5px;
    left: 55px;
}

.project {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.project-about {
    padding: 10px 40px;
    text-align: center;
    justify-self: center;
    place-self: center;
}

.line-separator {
    position: relative;
    height: 8px;
    margin: 135px auto;
    max-width: 500px;
}

.line-separator span {
    width: 100%;
    display: block;
    height: 6px;
    background-color: rgba(0, 0, 255, 0.6);
}

.line-separator span::after {
    content: '';
    position: absolute;
    background-color: rgba(255, 0, 0, 0.6);
    height: 6px;
    top: 3px;
    left: 4px;
    width: 100%;
    z-index: -1;
}

.project-about h4 {
    font-family: 'Proza Libre', sans-serif;
    font-size: 26px;
    margin-top: 0;
}

.project-about p {
    font-size: 18px;
}

.project-about span {
    font-weight: bold;
    display: block;
    margin: 5px 0;
}

.project-screenshot img {
    max-width: 100%;
    height: auto;
}

.project-img-container {
    position: relative;
    transition: all 1s linear;
    cursor: pointer;
}

.headline {
    font-size: 36px;
    text-transform: uppercase;
}

.link-container {
    text-align: center;
    padding: 10px 0 40px;
}

.link-container div {
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
    position: relative;
}

.link-container a {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    color: rgb(75, 74, 74);
    text-decoration: none;
}

#contact {
    width: 100%;
    padding: 15px;
}

.contact-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.contact-title {
    width: 50%;
    margin: 0 auto;
    padding: 10px 0 0;
    font-size: 30px;
    letter-spacing: 2px;
}

.contact-links {
    margin-top: 30px;
}

.contact-links div {
    display: inline-block;
}

.link {
    display: inline-block;
    width: 100px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(75, 74, 74);
    margin: 10px;
    padding: 5px;
    transition: all .3s ease-out;
    border-bottom: solid transparent 5px;
}

.contact-links div {
    position: relative;
}

.hover-line {
    position: absolute;
    display: block;
    left: 0;
    top: 90%;
    margin: 0 auto;
    height: 4px;
    background-color: rgba(0, 0, 255, 0.6);
    width: 0%;
    transition: width .5s ease;
}

.hover-line:after {
    content: '';
    display: inline-block;
    position: relative;
    background-color: rgba(255, 0, 0, 0.6);
    width: 100%;
    height: 4px;
    bottom: 11px;
    left: 3px;
    z-index: -1;
}

.contact-links a:hover,
.contact-links div:hover {
    color: black;
}

.link:hover+.hover-line,
.nav-link a:hover+.hover-line,
.link-container div a:hover+.hover-line {
    width: 100%;
}

.link-container div .hover-line:after {
    bottom: 15px;
}



footer {
    width: 100%;
    height: 75px;
}

.footer-container {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.footer-container p {
    padding: 25px;
    font-size: 14px;
}


@media only screen and (max-width: 740px) {
    header {
        margin: 0;
    }

    nav {
        padding: 15px;
        text-align: center;
    }

    .nav-links {
        display: block;
    }

    .nav-links {
        float: none;
        padding: 10px 0;
    }

    .bio-image h3 {
        font-size: 20px;
    }

    .bio-image img {
        margin-top: 0;
    }

    .bio-container {
        grid-template-columns: 100%;
    }


    .project {
        grid-template-columns: 100%;
    }

    .project-screenshot {
        grid-row-start: 1;
    }

    .project-about {
        margin-top: 0px;
        padding: 0;
    }


}